/** TODO after the hackathon: let's convert this to SUIT CSS :) */

.app-container {
  display: flex;
  height: 100vh;
}

.game-container {
  flex: 3;
}

.App-boardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.App-gameName {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 500;
}

.u-marginBottomLg {
  margin-bottom: 6rem;
}

.button {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 5px #dadada;
  -moz-box-shadow: 0px 0px 5px #dadada;
  box-shadow: 0px 0px 5px #dadada;
  color: #555;
  background: #fafafa;
  padding: 10px 15px;
  text-decoration: none;
  letter-spacing: 0.1rem;
  outline: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.button:hover {
  background: #f4f4f4;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}