# Add go to PATH and configure GOROOT.
# DO THIS: set GOROOT to your local go installation dir
export GOROOT=/Users/bo/dev/backend/opt/go1.10.1
export PATH=$GOROOT/bin:$PATH

# Configure GOPATH and add to PATH.
export GOPATH=$(pwd)/go
export PATH=$GOPATH/bin:$PATH

