.Event {
  padding: 20px; 
  border: 0.5px solid var(--gray);
  border-radius: 5px; 
  display: flex; 
  flex-direction: row;  
  justify-content: center; 
  align-items: center; 
}

.Event-labelText {
  font-size: 36px; 
  font-weight: 700; 
  color: #d4d3d5; 
}

.Event-userContainer {
  display: flex; 
  flex-direction: row; 
}

.Event-userAvatar {
  height: 25px; 
  width: 25px; 
  border-radius: 2px; 
}

.Event-userLogin {
  font-size: 14px; 
  font-weight: 600; 
}