.Event {
  padding: 20px; 
  margin: 20px 0px; 
  border: 0.5px solid var(--light-gray);
  border-radius: 5px; 
  display: flex; 
  flex-direction: row;  
  justify-content: flex-start; 
  align-items: center; 

  animation-name: Event-fade-in-down; 
  animation-duration: 200ms; 
  animation-timing-function: ease-in;
  animation-fill-mode: both; 

  transition: 100ms; 
  transform-origin: center; 
}

.Event:hover {
  border-color: var(--black); 
  background-color: var(--black);
  cursor: pointer; 
}

.Event:hover > .Event-commitMsg {
  color: white; 
}

.Event:hover > .Event-userContainer {
  color: white; 
}

.Event-labelText {
  font-size: 36px; 
  font-weight: 700; 
  color: var(--light-gray); 
}

.Event-userContainer {
  margin-left: 40px; 
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start;
  align-content: center; 
  color: var(--black); 
}

.Event-userAvatar {
  height: 25px; 
  width: 25px; 
  border-radius: 2px; 
}

.Event-userLogin {
  margin-left: 10px; 
  font-size: 14px; 
  font-weight: 600; 
  line-height: 24px; 
}

.Event-commitMsg {
  text-align: left; 
  margin-left: 40px; 
  font-size: 13px; 
  font-family: 'Menlo'; 
  color: var(--darker-gray); 
}

@keyframes Event-fade-in-down {
  from {
    opacity: 0; 
    transform: translateY(-100px); 
  }
  to {
    opacity: 1; 
    transform: translateY(0px); 
  }
}